:root {
  /* common */
  --transparent: transparent;
  --white: #ffffff;
  --black: #000000;

  /* gray */
  --gray-50: #fbfbfd;
  --gray-70: #f9f9f9;
  --gray-100: #f8f8f8;
  --gray-120: #ededed;
  --gray-200: #e2e2e2;
  --gray-300: #d1d1d1;
  --gray-400: #a8a8a8;
  --gray-500: #888888;
  --gray-800: #474747;
  --gray-900: #2d2d2d;
  --gray-950: #1f1f1f;

  /* yellow */
  --yellow-50: #ffffec;
  --yellow-70: #fffede;
  --yellow-100: #fefca9;
  --yellow-300: #ffe800;
  --yellow-700: #b68400;

  /* indigo */
  --indigo-100: #e9e9ff;
  --indigo-300: #bebeff;

  /* red */
  --red-100: #fff0f0;
  --red-200: #ffc0c1;
  --red-400: #ec7173;

  /* green */
  --green-100: #bdffb1;
  --green-400: #1fc700;

  /* orange */
  --orange-100: #ffe3ae;
  --orange-400: #ffa700;

  /* ochre */
  --ochre-700: #968b16;
}
